No longer using this template!
<!--
<p>
  You can use this page to compile
  your <a href="https://biohackrxiv.org/">BioHackrXiv</a> paper before
  submitting.  Enter the location of your Git repository that contains
  your <code>paper.md</code>. For more information on how to format your
  paper,
  please take a look at our <a href="https://github.com/biohackrxiv/biohackrxiv.github.io">guidelines</a>.
</p>

<form id="preview-form" action="/gen-pdf" accept-charset="UTF-8" method="POST">
  <div class="form-group">
    <div class="col">
      <p>
        <label for="repository">Paper repository address:</label>
        <input placeholder="e.g. https://github.com/biohackrxiv/submission-templates" class="field3" type="text" name="repository" id="repository" />
      </p>
    </div>
        <span class="col">
          <label for="branch">Custom branch (optional)</label>
          <input placeholder="e.g. branch-name" class="form-control" type="text" name="branch" id="branch" />
        </span>
  </div>
  <input type="submit" name="commit" value="Generate PDF"
         id="button3" />

          <div class="form-group">
            <label for="journal">Compile paper for:</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="journal" id="journaljoss" value="joss" <%=
 ( biohackrxiv? ? '' : "checked='checked'" ) %> >
              <label class="form-check-label" for="inlineRadio1">JOSS</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="journal" id="journaljose" value="jose">
              <label class="form-check-label" for="inlineRadio2">JOSE</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="journal" id="journalbiohackrxiv" value="bi
ohackrxiv" <%= ( biohackrxiv? ? "checked='checked'" : '' ) %> >
              <label class="form-check-label" for="inlineRadio2">BioHackrXiv</label>
            </div>
          </div>
          <div class="form-actions">
            <input type="submit" name="commit" value="Compile paper" class="btn" data-disable-with="Update
profile" />
          </div>
        </form>
      </div>


</form>



-->
